.item h3,
.item h4 {
  font-size: 1rem;
  line-height: 1.5;

  margin-bottom: 0;
  font-family: $body-font;

  .level {
    font-size: .7rem;
    color: $faded-color;
  }
}

.item {
  .column,
  .columns, {
    margin-bottom: 1rem;
  }
}

.item .row {
  margin-bottom: 1rem;

  &.no-padding {
    margin-bottom: 0;
  }
}

main > .row {
  margin-bottom: 1rem;
}

main > .row:last-child {
  margin-bottom: 0rem;

  .columns:last-child,
  .column:last-child {
    margin-bottom: 0;
  }
}

@media print {
  .item .row {
    margin: 0 0 1rem;
  }
}
