html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: $body-bg;
  background-image: url($body-image);

  margin: 1rem;
}

.content {
  padding: 2rem;

  background-color: $content-bg;

  border: 1px solid $content-border;

  margin-bottom: 1rem;
}

.content:last-child {
  margin-bottom: 0;
}

@media (min-width: $breakpoint) {
  .content {
    padding: 4rem;
  }
}
@media print {
  body {
    background-image: none;
  }

  .content {
    border: 0;
  }
}
