#cv-image {
  margin: 0 auto 1rem;
  max-width: 50%;
  display: block;
}

#area {
  color: $accent-color;
  margin: 1rem 0;
}

#summary {
  margin-top: 1rem;
}

@media print, (min-width: $breakpoint) {
  #cv-image {
    margin: 0;

    width: 13rem;

    display: inline-block;
    float: right;
  }
}
