@import "functions";

@import url(font($body-font));
@import url(font($header-font));

html {
  font-size: $font-size-base;
}

body {
  font-family: $body-font, Arial, Helvetica, sans-serif;
  font-size: 1rem;

  letter-spacing: .05rem;
  line-height: 1.5rem;

  color: $text-color;

  text-align: left;
}

p {
  margin: 0 0 1rem;
}

@media (min-width: $breakpoint) {
  html {
    font-size: $font-size-large;
  }
}

.fa {
  min-width: 1.75rem;
}

a {
  text-decoration: none;
  color: $accent-color;

  &:hover {
    color: $text-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  line-height: 1;
  font-family: $header-font, Georgia, Times, serif;
  font-weight: normal;

  margin-bottom: 1rem;

  color: $accent-color;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

.impact {
  font-size: 1.2rem;
}
