$body-bg: #fafafa;
$body-image: "http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/school.png";
$content-bg: #fff;
$content-border: #f5f5f5;
$text-color: lighten(#000, 13%);
$body-font: "Asap";
$header-font: "Bitter";

$breakpoint: 450px;

$column-margin: 4%;
$page-width: 960px;
