#work h3,
#work h4 {
  font-size: 1rem;
  line-height: 1.5;

  margin-bottom: 0;
}

#work h3 {
  font-family: $body-font;
}

#work {
  .column:not(:last-child),
  .columns:not(:last-child), {
    margin-bottom: 1rem;
  }
}

#work .row {
  padding-bottom: 2rem;
}

@media print {
  #work .row {
    padding: 0 0 1rem;
  }
}
